
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
#page-wrapper {
  min-height: 100%;
  min-width: 100%;
}
#header div.section,
#featured div.section,
#top_content div.section,
#messages div.section,
#triptych,
#footer-columns,
#footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#main{width:1100px;margin:0px auto;}
#header div.section {
  position: relative;
}
.region-header {
  float: left; /* LTR */
  margin: 0 0px 10px;
}
/*.with-secondary-menu .region-header {
  margin-top: 3em;
}*/
.without-secondary-menu .region-header,.with-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
.top_f,.top_s{
    /*background: transparent url('../images/blue-background.png') no-repeat scroll center center / cover;*/
    background-image: url('../images/blue-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.top_f{
    height:80px;
    float:left;
    width:100%;
}
.top_s{
    margin:4px 0px 0px;
    height:35px;
    width:100%;
    float:left;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  /*width: 240px;*/
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 0px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}


h1.title,.wrapper_full h2{
    font-weight: 900;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #12406A;
}
.fieldset-legend {
    font-size: 20px;
    font-weight: 700;
    width:100%;
}
#user-register-form .fieldset-wrapper{
    width:1000px;
    margin:35px auto;
    padding: 0 10px 0 60px;
    position:relative;
    float:left;
}
#user-register-form .form-item label{
    width:545px;
    float:left;
}
#user-register-form .form-item label .form-required{
    font-size:14px;
}
#user-register-form .form-text{
    width:170px;
    height:20px;
    float:left;
}
.page-user-register .tabs{
    display:none;
}
#user-register-form .form-type-checkboxes label{
    width:100%;
}
#user-register-form .field-name-field-rma-contact label{
    width:545px;
}
#user-register-form .fieldset-wrapper .field-name-field-rma-contact .form-checkboxes{
    width:300px;
    margin:0px;
}
#user-register-form label.option{width: auto;
    float: left;
    font-weight: 700;
    margin: 0 10px 0 0;}
#user-register-form .form-checkbox{float: left;
    margin: 9px 3px 0px 0px;
    width: auto;}
#user-register-form .password-parent{
    width:100%;
}
#user-register-form .form-radios .form-item{
    margin-top:0px;
}
fieldset.form-wrapper{
    border-bottom:1px solid #8c8b8b;
    width:99%;
}
#user-register-form .fieldset-wrapper .form-checkboxes{
    width:670px;
    float:left;  margin:10px 0 10px 50px;
}
#user-register-form .form-checkboxes .form-item,#user-register-form .form-item,#user-register-form .form-radios,#user-register-form .form-radios .option,
#user-register-form .form-radio{
    float:left;
}
#user-register-form .form-radio{margin:10px 5px 0px 0px}

#user-register-form #edit-field-participating-programs-und div:last-child, #user-register-form #edit-field-choose-distributor-und div:last-child, #user-register-form #edit-field-choose-sub-distributor div:last-child,
#edit-field-membership-account,#edit-field-choose-sub-distributor{
    float:left;
    width:auto;
}

#user-register-form .field-name-field-other-programs, .field-name-field-other-distributor, .field-name-field-other-sub-distributor{
    float: left;
}
#user-register-form .field-name-field-other-sub-distributor {width:340px;height:0}


.wrapper_full p{font-size: 14px;line-height: 1.42857143;color: #333;}
#content.wrapper_full ul{float:left;padding: 0px;}
.wrapper_full li{list-style-type: none;float:left;margin:20px 40px 0 0}
.not-logged-in #content.partner-portal-login{width:600px;}
#content.partner-portal-login{width:100%;float:left;margin:0 0 0 35px;}
/*#block-user-login{width:335px;}*/
#block-user-login h2{display: none}
#block-user-login .form-text,#block-user-login label{    float: left;
    width: 150px;
    text-align: right;}
#block-user-login .form-text{margin:0 0 20px 20px;width:170px;text-align:left;padding:4px 4px 4px 8px;}
#breadcrumb{width:100%;}
.inner-wrapper{width:100%;float:left;}
.inner-wrapper #sidebar-second{width:400px;float:right;}
#sidebar-second .item-list{clear: both}
#sidebar-second li,#sidebar-second ul{list-style-type: none;text-align: left;padding:0px;text-align: right;margin:0 5px 0px 0px}
#main-menu-nav h2{display:none;}
#main-menu-nav{width:1200px;margin:0px auto;}
#main-menu-nav ul li{
    width:200px;
    list-style-image: none;
    list-style-type: none;
}

#main-menu-nav a,#main-menu-nav a:hover,#main-menu-nav a:focus{
    text-decoration:none;
}
#main-menu-nav{
    font-family: 'Raleway', sans-serif;
    height:35px;
    width:100%;
    /*z-index:9999;*/
}
#main-menu-nav ul{
    position:relative;
    list-style:none;
    padding:0px;
    margin:0;

}
#main-menu-nav ul li ul{
    z-index:2;
    position:absolute;
    left:0;
    padding:0;
    margin:0;
    list-style:none;
    top:37px;
}
#main-menu-nav ul li:hover>ul li a{
    opacity:1;
    height:50px;
    transition:all .1s linear;
    -o-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -webkit-transition:all .1s linear;
}
#main-menu-nav ul li:hover ul li a:hover{
    color: #1371b7;
    font-family: Raleway, sans-serif;
    font-size: 14px;
}
#main-menu-nav ul li ul a{
    display:block;
    color:white;
    font-size:14px;
    width:220px;
    line-height:50px !important;
    background:#87caef;
    border-bottom:1px solid #ddd;
    text-align:left;
    padding:0 20px 0 20px;
    height:0;
    overflow:hidden;
    opacity:0;
    transition:all .1s linear .1s;
    -o-transition:all .1s linear .1s;
    -moz-transition:all .1s linear .1s;
    -webkit-transition:all .1s linear .1s;
}
#main-menu-nav ul li{
    float:left;
    position:relative;
    width:auto;
    text-align:center;
    padding:0px 50px;
}
#main-menu-nav ul li a{
    color:white;
    display:block;
    line-height:18px;
    text-transform:uppercase;
    text-decoration:none;
    padding:9px 0px;
}

#main-menu-nav ul li.first.expanded,#main-menu-nav ul li.first.collapsed{
    padding:0 50px;
}
#main-menu-nav ul li ul li.first.expanded,#main-menu-nav ul li ul li.first.collapsed{
    padding:0 35px;
}
#main-menu-nav ul li a:hover{
    /*color:orange;*/
}
ul, li {
    list-style: none;
}
#main-menu-nav li ul li {
    position: relative;
    float: left;
}
#main-menu-nav li ul li.collapsed,#main-menu-nav ul li.leaf,#main-menu-nav ul li.expanded {
    padding: 0 35px;
    list-style-image: none;
    list-style-type: none;
    z-index: 3;
}
#main-menu-nav li ul li a{
    display: block;
}
#main-menu-nav li ul ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;
    margin: 0;
}
#main-menu-nav li ul li:hover > ul{
    display: block;
    left:261px;
    top:0px;
}
#main-menu-nav li.last ul li:hover > ul{
    left:-261px;
}
#main-menu-nav li ul ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}
.page-admin-structure-block-demo #header #main-menu-nav .block-region{width:1180px;}
#block-system-main-menu{display: none;}

body.page-user-register div.messages.error{
    display: none;
}
.custom-error{float:left; padding: 10px 20px; color:red;}
/*#user-register-form .form-checkboxes .form-item{clear:both;}*/
#edit-field-job-title{clear:both;}
#user-register-form .form-type-password-confirm.form-item{width:1000px;}
#edit-field-receive-newsletter-und .custom-error{float:right;}
#edit-field-participating-programs,#edit-field-choose-distributor,#edit-field-choose-sub-distributor{float:left;position: relative;width:100%;}
#edit-field-participating-programs .custom-error,#edit-field-choose-distributor .custom-error,
#edit-field-choose-sub-distributor .custom-error{position:absolute;left:316px;bottom:25px;}
#edit-field-other-distributor .text-full,#edit-field-other-sub-distributor .text-full, #edit-field-other-programs .text-full{position:absolute;}
#edit-field-other-programs .text-full{top: 172px;left: 190px;}
#edit-field-other-distributor .text-full{bottom:325px;left: 190px;}
#edit-field-other-sub-distributor .text-full{bottom:118px;left: 190px;}
#user-register-form select{width:182px;border:1px solid #ccc;border-radius: 3px; overflow: hidden;}
#user-register-form select select:focus { outline: none;}
div.form-item div.password-suggestions{display: none !important;}
.page-user-register .region-top-content{
    float:left;
    width:1000px;
    padding:0 0 0 100px;
}
.page-user-register .region-top-content h2{
    font-weight: 900;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #12406A;}
.page-user-register .region-top-content p{
    color:#12406a;
    margin:0px 0 10px;
}
.page-user-register .form-actions{
    width:100%;
    float:left;
}
.page-user-register .form-actions input.form-submit{float:left;margin-left:435px;}

#country-menu{float:left;}
#country-menu ul{margin: 16px 0px 0px;}
#country-menu ul li{float: left;margin: 0 10px 0 0;}
#country-menu ul li img{width: 45px;height:25px; cursor:pointer;}
#country-menu ul li.active img{border:1px solid red;}
.header-wrapper-right{float:right;}

.password-parent .description{float:left;margin:0 0 0 545px;}
#user-register-form .form-type-select .description{display: none}
#user-register-form .custom-error{width:250px;padding:5px 0px 10px 20px}
#user-register-form .captcha .custom-error{width:auto;}

#account-setting .border table tr td{
    font-family: Arial,Helvetica,sans-serif;
    font-size:14px;
    padding:5px 20px 0 20px;
}
#account-setting table{
    margin:0px;
}
#account-setting .form-item label{
    font-size:14px;
    margin:0 10px 0 0;
}
#account-setting .form-item{
    clear:both;
}
#account-setting table.company-details label{width:180px;}
#account-setting table label{width:auto;float:left;}
#account-setting table input.text-full{float:left;width:200px;  margin:0 0 10px 0;padding:5px 10px;}
table.company-details tr td{padding: 0px;}
#account-setting #edit-field-participating-programs {width:900px;}
#account-setting #edit-field-participating-programs .form-item label.option,#account-setting #edit-field-choose-distributor-und .form-item label.option,
#account-setting #edit-field-choose-sub-distributor-und .form-item label.option,#account-setting #edit-field-receive-newsletter-und .form-item label.option{font-weight: bold;float:left;}
#account-setting #edit-field-participating-programs .form-item input,#account-setting #edit-field-choose-distributor-und .form-item input,
#account-setting #edit-field-choose-sub-distributor-und .form-item input,#account-setting #edit-field-receive-newsletter-und .form-item input.form-radio{float:left;margin:5px 10px 0 0}
#account-setting #edit-field-participating-programs .form-item input.text-full,#account-setting #edit-field-choose-distributor-und .form-item input.text-full,
#account-setting #edit-field-choose-sub-distributor .form-item input.text-full{margin:0px 10px 0px 0px}
#account-setting #edit-field-receive-newsletter .form-radios .form-item{float:left;clear: inherit;margin:0px;}
#account-setting #edit-field-receive-newsletter .form-item label,#account-setting #edit-field-receive-newsletter .form-radios{float:left;}
#account-setting #edit-field-participating-programs-und,#account-setting #edit-field-choose-distributor-und,#account-setting #edit-field-choose-sub-distributor-und
{float: left;margin: 5px 0 0 30px;width: 100%;}
#account-setting #field-other-programs-add-more-wrapper,#account-setting #field-other-distributor-add-more-wrapper,#account-setting #field-other-sub-distributor-add-more-wrapper{float:left;}
.form-checkboxes #field-other-programs-add-more-wrapper .form-item,.form-checkboxes #field-other-distributor-add-more-wrapper .form-item,
.form-checkboxes #field-other-sub-distributor-add-more-wrapper .form-item{margin:0px;}
#account-setting table#password td{padding:0px;}
#account-setting table#password td:nth-child .form-item{float:left;clear: inherit;}
#account-setting table#password td:nth-child(2) .form-item{clear:inherit;float:left;width:100%;}
#account-setting table#password td:nth-child(2) .form-item .form-item{clear:inherit;float: left;width:290px;margin:0 0px 0 0}
#account-setting table#password td label{width:auto;float:left;}
#account-setting table#password td input{width:120px;float:left;}
#account-setting table#password td .description,.page-user-edit h1#page-title,.page-user-edit div.messages.error{display: none;}
#edit-field-participating-programs .form-item{width:100%}
#edit-field-participating-programs .form-item{
    clear: inherit;
    float: left;
}
#account-setting .form-item.form-type-checkbox{float:left;}
#edit-field-participating-programs .form-item{float:left;clear: inherit;}
#field-other-distributor-add-more-wrapper{float:left;}
#account-setting .form-actions{width:100%;text-align: center}
#account-setting input.form-submit{float:inherit;}
#edit-field-membership-account,#edit-field-choose-sub-distributor-und .form-type-checkbox:last-child{clear:both;}
#page-us-content .field-item table{clear:both;}
table.even_img{margin:30px 0px 0px;}
table.even_img tbody{border:0px}
table.even_img tr{background:none;}
table.even_img td{width:250px;float:left;padding:0 50px;}
table.even_img td:nth-child(2) {padding:0 30px;}
table.even_img tr:nth-child(2) td:nth-child(2) {padding:30px 30px;}
table.even_img tr:nth-child(2) td {padding:30px 50px;}
table.tbl_grey{background:#F0F0F0;text-align:center;width:1000px;}
table.tbl_grey td{background:#F0F0F0;padding:30px 230px;text-align:center;font-size:14px;}
