
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
#page-wrapper {
  min-height: 100%;
  min-width: 100%;
}
#header div.section,
#featured div.section,
#messages div.section,
#triptych,
#footer-columns,
#footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#main{width:1100px;margin:0px auto;}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
.top_f,.top_s{
    background:transparent url('../images/blue-background.png') no-repeat scroll center center / cover;
}
.top_f{
    height:80px;
}
.top_s{
    margin:4px 0px 0px;
    height:35px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  /*width: 240px;*/
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 0px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}


h1.title,.wrapper_full h2{
    font-weight: 900;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #12406A;
}
.fieldset-legend {
    font-size: 20px;
    font-weight: 700;
    width:100%;
}
#user-register-form .fieldset-wrapper{
    width:1000px;
    margin:35px auto;
    padding: 0 10px 0 60px;
}
#user-register-form .form-item label{
    width:370px;
    float:left;
}
#user-register-form .fieldset-wrapper .form-item label{

}
#user-register-form .form-text{
    width:170px;
    height:20px;
}
#user-register-form .description,.page-user-register .tabs{
    display:none;
}
#user-register-form .form-type-checkboxes label{
    width:100%;
}
#user-register-form .field-name-field-rma-contact label{
    width:370px;
}
#user-register-form .fieldset-wrapper .field-name-field-rma-contact .form-checkboxes{
    width:600px;
    margin:0px;
}
#user-register-form label.option{width: auto;
    float: left;
    font-weight: 700;
    margin: 0 10px 0 0;}
#user-register-form .form-checkbox{float: left;
    margin: 9px 3px 0px 0px;
    width: auto;}
#user-register-form .password-parent{
    width:900px;
}
fieldset.form-wrapper{
    border-bottom:1px solid #8c8b8b;
}
#user-register-form .fieldset-wrapper .form-checkboxes{
    width:670px;
    float:left;  margin:10px 0 10px 50px;
}
#user-register-form .form-checkboxes .form-item,#user-register-form .form-item,#user-register-form .form-radios,#user-register-form .form-radios .option,
#user-register-form .form-radio{
    float:left;
}
#user-register-form .form-radio{margin:10px 5px 0px 0px}

#user-register-form #edit-field-participating-programs-und div:last-child, #user-register-form #edit-field-choose-distributor-und div:last-child, #user-register-form #edit-field-choose-sub-distributor div:last-child{
    clear:both;
    width:auto;
}

#user-register-form .field-name-field-other-programs, .field-name-field-other-distributor, .field-name-field-other-sub-distributor{
    float: left;
    margin: -64px 12px 0px 132px;
}
#user-register-form .field-name-field-other-sub-distributor {width:340px;}


.wrapper_full p{font-size: 14px;line-height: 1.42857143;color: #333;}
#content.wrapper_full ul{float:left;padding: 0px;}
.wrapper_full li{list-style-type: none;float:left;margin:20px 40px 0 0}
#content.partner-portal-login{width:600px;float:left;}
/*#block-user-login{width:335px;}*/
#block-user-login h2{display: none}
#block-user-login .form-text,#block-user-login label{    float: left;
    width: 150px;
    text-align: right;}
#block-user-login .form-text{margin:0 0 20px 20px;width:170px;text-align:left;padding:4px 4px 4px 8px;}
#breadcrumb{width:100%;}
.inner-wrapper{width:100%;float:left;}
.inner-wrapper #sidebar-second{width:400px;float:right;}
#sidebar-second .item-list{clear: both}
#sidebar-second li,#sidebar-second ul{list-style-type: none;text-align: left;padding:0px;text-align: right;margin:0 5px 0px 0px}
